html, body {
    height: 100%;
    margin: 0;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content-container {
    flex: 1;
  }
  
  footer {
    background-color: var(--neutral);
    color: var(--neutral-content);
    padding: 10px;
  }
  .character-dash-container {
    padding-top: 50px; /* Adjust as needed */
    text-align: center;
  }
  
  .carousel-item {
    padding: 10px;
  }
  
  .carousel-image {
    width: 100%;
    height: auto;
    max-width: 400px; /* Adjust max-width as needed */
    margin: 0 auto; /* Center the image */
  }
  
  .selected-image {
    width: 100%;
    height: auto;
    max-width: 500px; /* Adjust max-width as needed */
    margin: 0 auto; /* Center the image */
  }
  
  .character-details {
    margin-top: 20px; /* Adjust margin-top as needed */
    text-align: center;
  }
  
  .character-details h2 {
    margin-bottom: 10px; /* Adjust margin-bottom as needed */
  }
  
  .character-details p {
    margin-bottom: 15px; /* Adjust margin-bottom as needed */
  }
  